.main {
  margin-left: 32px;
  margin-right: 32px;
  display: flex;
  justify-content: space-around;
}

.componentContainer {
  width: 200px;
  display: flex;
  justify-content: center;
}

.componentContainer button {
  background: slategray;
  width: 200px;
  height: 25px;

  cursor: pointer;
}

.componentContainer input {
  background-color: silver;
  margin-right: 8px;
}
