.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main {
  max-width: 1120px;
  width: calc(100% - 64px);
  color: white;
}

.section_divider {
  margin-bottom: 50px;
}

.section_header {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.row {
  width: calc(100% - 60px);
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.column1 {
  width: 80px;
}

.column2 {
  height: 100%;
}

.column2 input {
  width: 80px;
  background-color: silver;

  border: 1px solid black;
  border-radius: 3px;
  outline: none;
}

.edit_btn {
  padding-left: 10px;
  padding-bottom: 2px;
  cursor: pointer;
}

.quill {
  height: 400px;
}

.notes {
  width: 100%;
  max-width: calc(100% - 75px);
  margin-left: -36px;
  margin-right: -36px;
  margin-top: -8px;
}

.notes_edit {
  width: 100%;
  max-width: calc(100% - 80px);
  margin-left: -16px;
  margin-right: -16px;
}

.quill_container {
  width: 100%;
  max-width: 1120px;
}

.quill_parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.btn_container button {
  width: 200px;
  height: 25px;

  background-image: linear-gradient(rgb(200, 200, 200), rgb(150, 150, 150));
  border: 1px solid black;
  border-radius: 5px;

  font-weight: bold;
  outline: none;
  cursor: pointer;
}
