.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.delete button {
  width: 30px;
  cursor: pointer;
  background-color: darkslateblue;
  color: white;
  outline: none;
}

.delete_active {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@keyframes deleteActive_fade {
  0% {
    background-color: darkslateblue;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: darkslateblue;
  }
}

.delete_active button {
  width: 30px;
  cursor: pointer;
  background-color: darkslateblue;
  color: white;
  animation: deleteActive_fade linear 2s infinite;
  outline: none;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.add button {
  width: 30px;
  cursor: pointer;
  background-color: darkslateblue;
  color: white;
  outline: none;
}
