.Pages_container {
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  margin-top: -5px;
  margin-left: -5px;

  display: flex;
  justify-content: center;

  color: white;
}

.videoContainer {
  height: 579px;
  border: 5px solid grey;
}

.textContainer {
  height: calc(100% - 579px - 10px - 25px);

  border-left: 5px solid grey;
  border-right: 5px solid grey;
}

/* * * * * * * * * * * * * * * * *
 * * * CloseButton.js Styles * * *
 * * * * * * * * * * * * * * * * */
.closeContainer {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
}

.closeIcon {
  position: absolute;
  top: 0;
  right: 0;

  color: rgba(255, 0, 0, 0.8);
  z-index: 10;
}

.closeIconBg {
  position: absolute;
  top: 6px;
  right: 6px;

  height: 12px;
  width: 12px;

  background-color: black;
}

/* * * * * * * * * * * * * * * * *
 * * * * PageNav.js Styles * * * *
 * * * * * * * * * * * * * * * * */
.PageNav_container {
  position: absolute;
  bottom: 0;
  height: 25px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: grey;
}

.PageNav_bubbleContainer {
  padding-left: 4px;
  padding-right: 4px;
}

.PageNav_bubble {
  cursor: pointer;
  height: 12px;
  width: 12px;

  background-color: white;
  border-radius: 100px;
}

.PageNav_bubbleSelected {
  cursor: default;
  background-color: darkblue;
}
