.title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  line-height: 0;

  /* background-color: rgb(110, 110, 110); */
  background-image: linear-gradient(rgb(100, 100, 100), slategrey);
  border: 1px solid black;
  border-radius: 10px;

  overflow: hidden;
  user-select: none;
}

.container {
  padding: 10px;
}
