.title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  line-height: 0;

  background-color: grey;
  border: 2px solid lightgrey;
  border-radius: 10px;

  overflow: hidden;
  user-select: none;
}

.container {
  padding: 10px;
  margin-left: 160px;
  margin-right: 160px;
}
