.mainContainer {
  display: flex;
  align-items: center;
}

.taskContainer1 {
  border: 1px solid black;
  border-radius: 100px;
  overflow: hidden;
  background-image: linear-gradient(darkgrey, silver);
  transition: background-image 1s ease-in-out;

  padding-top: 8px;
  padding-bottom: 8px;
  margin: 5px;

  font-weight: bold;
  font-size: 16px;
  text-align: center;

  user-select: none;
  flex: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskContainer2 {
  border: 1px solid black;
  border-radius: 100px;
  overflow: hidden;
  background-image: linear-gradient(green, lightgreen);
  transition: background-image 1s ease-in-out;

  padding-top: 8px;
  padding-bottom: 8px;
  margin: 5px;

  font-weight: bold;
  font-size: 16px;
  text-align: center;

  user-select: none;
  flex: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.trash {
  color: rgb(225, 0, 0);
  cursor: pointer;
  padding: 4px;
}

.icon {
  padding-left: 12px;
  padding-right: 12px;
}

.info {
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}
