.main {
  width: 100%;
}

.section_divider {
  margin-bottom: 50px;
}

.section_header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.row {
  width: calc(100% - 60px);
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.column1 {
  width: 80px;
}

.column2 {
  height: 100%;
}

.column2 input {
  width: 80px;
  background-color: inherit;
}

.edit_btn {
  padding-left: 10px;
  padding-bottom: 2px;
  cursor: pointer;
}

.quill {
  height: 400px;
}

.notes {
  width: 100%;
  max-width: calc(100% - 75px);
  margin-left: -36px;
  margin-right: -36px;
  margin-top: -8px;
}

.notes_edit {
  width: 100%;
  max-width: calc(100% - 80px);
  margin-left: -16px;
  margin-right: -16px;
}
