.main {
  width: 100%;
}

.section_divider {
  margin-bottom: 50px;
}

.section_header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.row {
  width: calc(100% - 80px);

  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.column1 {
  width: 80px;
}

.column2 {
  width: 100%;
  height: 100%;
}

.column2 input {
  width: 80px;
}

.notes {
  width: 100%;
  height: 200px;
  text-align: justify;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-y: auto;
  background-color: grey;
}

.notesEdit {
  width: 100%;
  height: 200px;
  text-align: justify;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.notesEdit textarea {
  width: 100%;
  height: 200px;
}

.edit_btn {
  padding-left: 10px;
  padding-bottom: 2px;
  cursor: pointer;
}

.quill {
  height: 400px;
}
