.Pages_container {
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  margin-top: -5px;
  margin-left: -5px;

  display: flex;
  justify-content: center;

  color: white;
}

.videoContainer {
  height: 413px;
  border: 5px solid grey;
  background-color: black;
}

.textContainer {
  height: calc(100% - 413px - 10px - 25px - 16px);

  border-left: 5px solid grey;
  border-right: 5px solid grey;
  padding: 16px;

  text-align: justify;
}

.iconContainer {
  width: 20px;
  height: 20px;

  position: relative;
  display: inline-block;
  top: 3px;
}

.minusIcon,
.plusIcon {
  width: 20px;
  height: 20px;
  position: absolute;

  color: darkslateblue;
}

.minusIconActive {
  width: 20px;
  height: 20px;
  position: absolute;

  color: red;
}

.minusIconBg,
.minusIconActiveBg,
.plusIconBg {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 25%;
  top: 25%;

  background-color: white;
}

.editIcon {
  width: 20px;
  height: 20px;

  position: absolute;
  left: 2px;

  padding-left: 2px;
  padding-right: 2px;
}

.infoIcon {
  width: 20px;
  height: 20px;

  position: absolute;
}

.saveIcon {
  width: 20px;
  height: 20px;

  position: absolute;
}

.arrowIcon {
  width: 20px;
  height: 20px;

  color: red;

  position: absolute;
}

.popup {
  z-index: 50;
}

/* * * * * * * * * * * * * * * * *
 * * * CloseButton.js Styles * * *
 * * * * * * * * * * * * * * * * */
.closeContainer {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
}

.closeIcon {
  position: absolute;
  top: 0;
  right: 0;

  color: rgba(255, 0, 0, 0.8);
  /* z-index: 1; */
}

.closeIconBg {
  position: absolute;
  top: 6px;
  right: 6px;

  height: 12px;
  width: 12px;

  background-color: black;
}

/* * * * * * * * * * * * * * * * *
 * * * * PageNav.js Styles * * * *
 * * * * * * * * * * * * * * * * */
.PageNav_container {
  position: absolute;
  bottom: 0;
  height: 25px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: grey;
}

.PageNav_bubbleContainer {
  padding-left: 4px;
  padding-right: 4px;
}

.PageNav_bubble {
  cursor: pointer;
  height: 12px;
  width: 12px;

  background-color: white;
  border-radius: 100px;
}

.PageNav_bubbleSelected {
  cursor: default;
  background-color: darkblue;
}
