.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
}

.box {
  width: 400px;
  height: 200px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  border: 1px solid white;
  color: white;
  background-color: black;
}

.title {
  width: 100%;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid white;
}

.login_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;

  height: 80px;
}

.login_info input {
  width: 50%;
  margin-top: 16px;
  margin-bottom: -8px;
  background-color: silver;

  border-radius: 3px;
  border: 1px solid black;
  outline: none;
}

.options {
  margin-left: 32px;
  margin-right: 32px;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.createAccount {
  margin-top: 28px;
}

.options button {
  width: 150px;
  height: 20px;
  margin: 8px;
  margin-top: -2px;

  background-image: linear-gradient(rgb(200, 200, 200), rgb(150, 150, 150));
  border: 1px solid black;
  border-radius: 5px;

  font-weight: bold;
  outline: none;
  cursor: pointer;
}

/* * * * * * * * * * * * * * * 
 * * * * Vehicle Info  * * * *
 * * * * * * * * * * * * * * */

.vehicle_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

.vehicle {
  width: calc(100% - 100px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.vehicle_info input {
  background-color: silver;

  border-radius: 3px;
  border: 1px solid black;
  outline: none;
}

.vehicle_info select {
  background-color: silver;

  border-radius: 3px;
  border: 1px solid black;
  outline: none;
}

.miles {
  margin-top: 8px;
}

.continue_btn {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.continue_btn button {
  width: 150px;
  height: 20px;

  background-image: linear-gradient(rgb(200, 200, 200), rgb(150, 150, 150));
  border: 1px solid black;
  border-radius: 5px;

  font-weight: bold;
  outline: none;
  cursor: pointer;
}

/* * * * * * * * * * * * * * * *
 * * * * Error Container * * * *
 * * * * * * * * * * * * * * * */

.errorContainer {
  height: 100px;
  width: 400px;
  padding-top: 16px;

  text-align: center;
  color: tomato;
}
