.IntervalList_main {
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 50vh;
}

.Interval_title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  line-height: 0;

  border: 1px solid black;
  border-radius: 10px;

  overflow: hidden;
  user-select: none;
}

.standardBG {
  background-image: linear-gradient(rgb(100, 100, 100), slategrey);
}

.nextIntervalBG {
  background-image: linear-gradient(#8db6cd, #607b8b);
}

.Interval_container {
  padding: 10px;
}
