.main {
  position: fixed;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 1;
  background-color: black;
  border-bottom: 1px solid white;
}

.car {
  color: white;
  height: 100%;
  width: 200px;
  padding-left: 16px;

  display: flex;
  align-items: center;
}

.miles {
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.miles h5 {
  padding-left: 4px;
  padding-top: 8px;
}

.options {
  color: white;
  height: 100%;
  width: 200px;
  padding-right: 16px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.saveIcon,
.saved,
.saving {
  cursor: pointer;
  color: white;
  padding-left: 2px;
  padding-right: 2px;
}

.saving {
  color: red;
}

.saved {
  animation: saved_fade ease 5s;
}

@keyframes saved_fade {
  0% {
    color: red;
  }
  20% {
    color: lawngreen;
  }
  80% {
    color: lawngreen;
  }
  100% {
    color: white;
  }
}

.helpIcon {
  cursor: pointer;
  margin-left: -2px;
  margin-right: -2px;
}

.settingsIcon {
  cursor: pointer;

  color: white;
  padding-left: 2px;
  padding-right: 2px;
}

.logout {
  cursor: pointer;

  padding-bottom: 2px;
  padding-left: 4px;

  user-select: none;
}

.divider {
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;

  cursor: default;
  user-select: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
